
/* mobile  & talet */
@media (max-width:1023px){

    .btn{
        padding: 15px 16px;
    }
    .from-control{
        padding: 15px;
    }
    #footer .socials-list{
        font-size: 28px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }


    #footer .copyright a{
        padding: 8px 0;
        display: inline-block;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }


}

/* tablet */

@media (min-width: 740px) and (max-width : 1024px){

    .contact-info {
    line-height: 2.0;
}

}
 
/* mobile */

@media (max-width:740px) {
    .s-col-full , .s-full-width{
        width: 100%;
    }
    
    #nav {
      display: block;
  }
    #nav > li {
        display: block;
    }
    #nav li:first-child{
        display:inline-block;
    }
    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav .subnav{
        position: initial;

    }
    #content .member-img{
        width: 60%;
    }

    .from-control{
        margin-top: 8px;
    }
    .contact-form {
        margin-top: 32px;
    }
    .contact-info {
      
        line-height: 2;
    }



}